@font-face { font-family: 'tweet_status_font'; src: url('http://static.irfe.cl/fonts/inicio/tweet_status.otf'); }


body {
background-image:url(../images/gradient.jpg);
background-repeat:repeat;
}




.header {
width: 100%;

}

.principal {
padding-top:10px;
}

.hiper {

-webkit-transition: width 0.3s ease-in-out;
width:980px;
height:50px;
margin: 0 auto;
background-image:url(../images/sapp.png);
background-repeat:repeat;



-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

}



#links {
background-color:transparent;
margin: 0 auto;
width: 700px;
height: 35px;

}

a {
color: #08C;
}

#frame {width:980px; height:496px; padding:0px; border:0px solid #ddd; margin:0px auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
/* sombra del borde */
-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 8px;
 -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 8px;
 box-shadow: rgba(0,0,0,0.2) 0px 1px 8px;

background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.42, #F5F5F5),
color-stop(0.99, #FFFFFF)
);
background-image: -moz-linear-gradient(
center bottom,
#F5F5F5 42%,
#FFFFFF 99%
);
}

.end {
padding-top:20px;
}
#footer {
border:solid;
border-width:1px 0px 0px 0px;
border-color:#CCCCCC;
margin: 0 auto;
width:980px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size:10px;
color: #888;
text-align:center;
text-transform:capitalize;
padding-top:5px;
}
#infocolegio {
border:solid;
border-width:1px 0px 0px 0px;
border-color:#CCCCCC;
margin: 0 auto;
width:980px;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size:10px;
color: #888;
text-align:center;
padding-top:2px;
padding-bottom:2px;
}

#gallery {width:980px; height:496px; position:relative; overflow:hidden; border:0px;}

#gallery a img {border:0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

#gallery img {position:absolute; left:-980px; top: 0; z-index:1; border:0;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-webkit-animation-duration:25s;
}

#gallery img.p1 {left:0;}

@-webkit-keyframes show1 {

0% {left:0;}

10% {left:0;}

11% {left:980px;}

100% {left:980px;}

}

@-webkit-keyframes show2 {

0% {left:-980px;}

10% {left:-980px;}

11% {left:0;}

20% {left:0;}

21% {left:-980px;}

100% {left:-980px;}

}

@-webkit-keyframes show3 {

0% {left:980px;}

20% {left:980px;}

21% {left:0;}

30% {left:0;}

31% {left:980px;}

100% {left:980px;}

}

@-webkit-keyframes show4 {

0% {left:-980px;}

30% {left:-980px;}

31% {left:0;}

40% {left:0;}

41% {left:-980px;}

100% {left:-980px;}

}

@-webkit-keyframes show5 {

0% {left:980px;}

40% {left:980px;}

41% {left:0;}

50% {left:0;}

51% {left:980px;}

100% {left:980px;}

}

@-webkit-keyframes show6 {

0% {left:-980px;}

50% {left:-980px;}

51% {left:0;}

60% {left:0;}

61% {left:-980px;}

100% {left:-980px;}

}

@-webkit-keyframes show7 {

0% {left:980px;}

60% {left:980px;}

61% {left:0;}

70% {left:0;}

71% {left:980px;}

100% {left:980px;}

}

@-webkit-keyframes show8 {

0% {left:-980px;}

70% {left:-980px;}

71% {left:0;}

80% {left:0;}

81% {left:-980px;}

100% {left:-980px;}

}

@-webkit-keyframes show9 {

0% {left:980px;}

80% {left:980px;}

81% {left:0;}

90% {left:0;}

91% {left:980px;}

100% {left:980px;}

}



@-webkit-keyframes show10 {

0% {left:-980px;}

90% {left:-980px;}

91% {left:0;}

99% {left:0;}

100% {left:-980px;}

}



@-webkit-keyframes show11 {

0% {left:980px;}

99% {left:980px;}

100% {left:0;}

}





#gallery img.p1 {

-webkit-animation-name: show1;

}

#gallery img.p2 {

-webkit-animation-name: show2;

}

#gallery img.p3 {

-webkit-animation-name: show3;

}

#gallery img.p4 {

-webkit-animation-name: show4;

}

#gallery img.p5 {

-webkit-animation-name: show5;

}

#gallery img.p6 {

-webkit-animation-name: show6;

}

#gallery img.p7 {

-webkit-animation-name: show7;

}

#gallery img.p8 {

-webkit-animation-name: show8;

}

#gallery img.p9 {

-webkit-animation-name: show9;

}

#gallery img.p10 {

-webkit-animation-name: show10;

}

#gallery img.p11 {

-webkit-animation-name: show11;

}



#gallery:hover img {

 -webkit-animation-play-state: paused;

 }
 
.contenedortweet {
padding-top:10px;
padding-bottom: 10px;
}

#tweetbox {
background-color:transparent;
margin: 0 auto;
width: 980px;
height: 24px;
border:solid;
border-width:1px;
border-color:#CCCCCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position: static;
padding-top: 2px;

}

#tweet {
-webkit-font-smoothing:antialiased;
font-family: 'tweet_status_font';
font-size: 14px;
width:980px;
text-align:center;
vertical-align: middle;


}

ul, li {
list-style-type: none;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 10px;
-webkit-padding-start:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:10px;
margin-top:0px;
}

a {
text-decoration: none;
color:#08C;
border:0;
}

a:-webkit-any-link  {
color: #08C;
text-decoration:none;
}

.secundario {
width:980px;
margin: 0px auto;
}

#eventosbar {
margin: 0px auto;
width:200px;
text-align:right;
float:left;

}

h2 {

font-family:Georgia, "Times New Roman", Times, serif;
font-size:11px;
text-transform: uppercase;
color: #820000;
letter-spacing: 2px;
font-weight: 400;

}

#eventos h2 {
width: 200px;
border-bottom: 6px solid #820000;
letter-spacing: 2px;

}

#noticiasbar {
margin: 0px auto;
width:500px;
height: 300px;
text-align:right;
float:center;
padding-right:20px;
padding-left:20px;
border-left: 1px solid #EAE9E6;
}

#noticias h2 {
width: 500px;
border-bottom: 6px solid #820000;
letter-spacing: 2px;

}

.publibar {

margin: 0px auto;
text-align:right;
float:left;

}


#publi img  {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
width:240px;
heigth: 106px;
-webkit-box-shadow: rgba(0,0,0,0.2) 1px 2px 10px;
-moz-box-shadow: rgba(0,0,0,0.2) 1px 2px 10px;
box-shadow: rgba(0,0,0,0.2) 1px 2px 10px;

}




