#articulo {
margin:10px auto 0;
width:1000px;
background-color:#F5F5F5;
border:1px solid #FFFFFF;
-moz-box-shadow:rgba(0,0,0,0.5) 0px 1px 8px;
-webkit-box-shadow:rgba(0,0,0,0.2) 0px 1px 8px;
box-shadow: rgba(0,0,0,0.5) 0px 1px 8px;
	
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	
background-image: -webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.42, #F5F5F5),
color-stop(0.99, #FFFFFF)
);
background-image: -moz-linear-gradient(
center bottom,
#F5F5F5 42%,
#FFFFFF 99%
);

margin-bottom: 15px;
}

#titulodelarticulo {
margin:auto 0;
width:1000px;
height:100px;
background:black;

-webkit-border-radius: 5px 0px 5px 0px;
-moz-border-radius:5px 0px 5px 0px;
border-radius:5px 0px 5px 0px;

margin-top:-1px;
margin-left:-1px;
background-image:url(../img/index1/gradient.png);
border-bottom:2px inset;

}
#titulodelarticulo2 {
margin:auto 0;
width:1000px;
height:100px;
background:black;

-webkit-border-radius: 5px 0px 5px 0px;
-moz-border-radius:5px 0px 5px 0px;
border-radius:5px 0px 5px 0px;

margin-top:-1px;
margin-left:-1px;
background-image:url(../img/index1/gradient.png);
border-bottom:2px inset;

}

#banner {
font-family:georgia, sans-serif;
padding: 15px 30px 35px 15px;
color:#666666;
}

#texto {
padding: 0px 30px 35px 15px;
color:#333333;
font-family:georgia, sans-serif;
font-size:14px;
position:relative;
text-indent: 3em;
line-height: 1.6em;
text-decoration:none;
-webkit-font-smoothing:antialiased;

}

img#imagen {
-webkit-perspective: 100px;
-webkit-transform: rotate(350deg) skew(0deg) scale(1) rotateX(10deg) rotateY(-10deg);
-webkit-transform-style: preserve-3d;
-moz-transform: rotate(23.39deg) skew(1.30deg) scale(0.99) rotateX(16deg) rotateY(-10deg);
-o-transform: rotate(23.39deg) skew(1.30deg) scale(0.99) rotateX(16deg) rotateY(-10deg);
float:left;
margin-left:-80px;
border:3px inset;
border-color:#000000;
}

#titulotexto {
padding-top: 30px;
padding-left:20px;
padding-bottom:20px;
font-family: tweet, 'Trebuchet MS', sans-serif;
font-size: 30px;
letter-spacing: 0px;
line-height: normal;
font-weight: normal;
text-decoration: none;
margin-bottom: 2px;
color:#666666;
}
