@font-face { font-family: 'lobster'; src: url('../fonts/lobster.ttf'); }

/* El sexy efecto webkit para el texto */

@-webkit-keyframes superanimacion1 {
0% {
font-size: 0px;
color:transparent;
font:lobster;
}
100% {
font-size: 110px;
color:white;
font-family:lobster;
}
}

/* Fin del sexy efecto webkit */



#inputpresentacion {

width:1080px;
height:496px;
position:static;
float:left;


}

p#contenidoinput {
font-family:lobster;
font-size:110px;
text-shadow: black 0 0 20px;
text-align:center;
padding-top:170px;
margin-top:-500px;

-webkit-animation-name: superanimacion1;
-webkit-animation-duration:750ms;
-webkit-animation-delay:0ms;
-webkit-animation-iteration-count:1;
-webkit-animation-direction:normal;
-webkit-animation-timing-function:linear;
-webkit-animation-play-state:running; 
position:relative;

}

#flashvideo {
margin-top:-500px;
position:relative;
}





