h1 {
padding-top:30px;
font-size: 300.7%;
text-align: center;
width: 100%;
color:black;
font-family: 'Cuprum';
font-weight: normal;
text-transform:uppercase;
text-shadow: 0 0 1px #667;
-webkit-font-smoothing:antialiased;
}

#texto {
position:static;
padding-top:15px;
padding-bottom:25px;
width:92%;
margin-left:4%;
height:auto;
display:block;
}

#texto p {
font: large/1.556 Georgia;
text-align:justify;
color:black;
text-indent: 1.5em;
-webkit-font-smoothing:antialiased;
}

#texto li {
font: large/1.556 Georgia;
color:black;
list-style:decimal;
text-indent: 1.5em;
}