#barrafooter {
border:inset;
border-width:1px 0px 0px 0px;
border-color:#CCCCCC;
width:1000px;
margin:0 auto;
}

#infocolegio {
width:500px;
float:left;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size:10px;
color: white;
text-align:left;
padding-top:2px;
padding-bottom:2px;
}

#footer {
width:455px;
float:right;
font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size:10px;
color:#CCCCCC;
text-align:right;
text-transform:capitalize;
padding-top:8px;
}

em {
font-size:15px;
color: #999999;
}
